.product-list {
  display: flex;
  justify-content: center;
}

hr {
  margin: 0;
}

hr.first {
  margin-top: 0;
}

.row {
  padding: 10px 50px;
}

.content {
  background-color: #e5e5e5;
  height: fit-content;
}

.container-spinner {
  background-color: #e5e5e5;
  height: 100%;
}

p.mt-3 {
  background-color: white;
}
