<div class="container-fluid" *ngIf="productsToRender.length > 0">
  <p *ngIf="showText && busqueda!== ''" class="px-2 m-0"><small>{{firstProd+1}}-{{lastProd}} de {{products.length}}
      resultados encontrados
      para
      "{{busqueda}}"</small></p>
  <div class="product-list" [class.product-list-one]="columns===1">
    <app-product-card *ngFor="let product of productsToRender; index as index" [product]="product" [showCantidades]= showCantidadesUp [cantidad]= "cantidadesUp[index]"  ></app-product-card>
  </div>
  <div class="pb-pagination mt-3 mb-3">
    <button (click)="previousPage()" [disabled]="currentPage <= 1"
      class="btn btn-dark mx-2 rounded-pill">Anterior</button>
    <p>Pagina {{currentPage}} de {{numberOfPages}}</p>
    <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages"
      class="btn btn-dark mx-2 rounded-pill">Siguiente</button>
  </div>
</div>
