.submenu {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}
.separator {
  margin-right: 1rem;
}

nav {
  border-bottom: 1px solid #ced4da;
}
