.carousel:hover button {
  background-color: #8b8b8b90;
}

.carousel-item.active{
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-height: 100%;
  max-width: 100%;
}

.progress {
  height: 2rem;
  font-size: 1.3rem;
}
