<div *ngIf="product.id === -1" class="main-page-loading container d-flex justify-content-center align-items-center">
  <app-spinner [size]="100" class=""></app-spinner>
</div>
<div class="container" *ngIf="product.id !== -1">
  <!-- Start product view -->
  <div class="row">
    <div class="col-6">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item img-container" *ngFor="let image of imagenes; let index = index"
            [class.active]="index == 0">
            <img [src]="image" class="d-block" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h3>{{product.nombre}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 *ngIf="product.precio !== -1">{{product.precio}} €</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="mb-0">{{product.cantidadDisponible}} / {{product.cantidadInicial}} Disponibles</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style]="{'width': progress + '%'}" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              {{progress}} %
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p align="justify">{{product.descripcion}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End product view -->
  <hr>
  <!-- Start related products -->
  <app-related-products [update]="timestamp"></app-related-products>
  <!-- End related products -->
  <hr>
  <!-- Start reviews -->
  <app-rating [opiniones]="product.Opinions"></app-rating>
  <!-- End reviews -->
</div>
