.carousel:hover button {
  background-color: #8b8b8b90;
  overflow: hidden;
  z-index: 900;
}

.slide {
  overflow: hidden;
}

.carousel-item.active {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

#carouselExampleIndicators {
  height: 100%;
}

.progress {
  height: 2rem;
  font-size: 1.3rem;
}

div.fit-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.product-heading {
  font-weight: bold;
  text-align: center;
}

.product-price {
  display: flex;
  flex-direction: initial;
}

.product-price h2 {
  margin: 0 20px 0 0;
}

.product-description {
  height: 64px;
  overflow: hidden;
}

.btn-description {
  background: none;
  border: none;
  padding: 0;
  color: #f26530;
  cursor: pointer;
  margin: auto;
}

.show {
  overflow: visible;
  height: auto;
}

.progress-bar {
  background-color: #f26530;
  border-radius: 0.8em;
}

.progress {
  background-color: #dddddd;
  font-weight: bold;
  border-radius: 0.8em;
}

.progress-available {
  text-align: center;
}

.carousel {
  position: relative;
}

.container {
  background-color: white;
}

.product-price h3 {
  font-size: 2rem;
  margin: 0;
}

.text-muted {
  font-size: 1rem !important;
  color: #f26530 !important;
}

.font-weight-normal {
  font-weight: lighter !important;
  margin: 0;
}

.font-weight-bold {
  font-weight: bold !important;
  margin: 0;
}
