<div class="content">

  <hr class="first">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <app-selectioned-products></app-selectioned-products>
      </div>
      <div class="col-md-6 col-sm-12">
        <app-summary></app-summary>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <button type="button" *ngIf="shoppingCart.length" class="btn btn-primary mt-5 mx-5"
      (click)="finalizarCompra()">Finalizar
      Compra</button>
  </div>

  <div class="my-modal" *ngIf="show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <mat-icon (click)="show = false">close</mat-icon>
        </div>
        <div class="modal-body">
          <p>Compra finalizada!</p>
        </div>
      </div>
    </div>
  </div>
</div>
