<div class="content">

  <hr class="first">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <app-selectioned-products></app-selectioned-products>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-summary (finalizarCompra)="finalizarCompra()"></app-summary>
    </div>
  </div>


  <div class="my-modal" *ngIf="show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <mat-icon (click)="show = false">close</mat-icon>
        </div>
        <div class="modal-body">
          <p>Compra finalizada!</p>
        </div>
      </div>
    </div>
  </div>
</div>
