hr {
  margin: 0;
}

hr.first {
  margin-top: 0;
}

.content {
  position: relative;
}

.my-modal {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 50%;
}

mat-icon {
  cursor: pointer;
}

.submit {
  margin: 0;
  background-color: #000000;
  color: white;
  width: fit-content;
}
