hr {
  margin: 0;
}

hr.first {
  margin-top: 0;
}

.content {
  position: relative;
}

.my-modal {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 50%;
}

mat-icon {
  cursor: pointer;
}

.submit {
  margin: 0;
  background-color: #000000;
  color: white;
  width: fit-content;
}

.my-modal {
  z-index: 9999;
}

.modal-dialog {
  z-index: 9999;
}

.my-modal::after {
  position: fixed;
  top: 57px;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 9;
}
