<h3>Resumen</h3>
<hr>
<div class="row">
  <div class="col-6">
    <p>SUBTOTAL</p>
  </div>
  <div class="col-6">{{subtotal|currency:'EUR':'symbol'}} </div>
</div>
<div class="row">
  <div class="col-6">
    <p>ENVIO</p>
  </div>
  <div class="col-6">{{envio|currency:'EUR':'symbol'}} </div>
</div>
<div class="row">
  <div class="col-6">
    <p>IMPUESTOS</p>
  </div>
  <div class="col-6">{{impuestos|currency:'EUR':'symbol'}} </div>
</div>
<hr>
<div class="row">
  <div class="col-6">
    <p>TOTAL</p>
  </div>
  <div class="col-6">{{total|currency:'EUR':'symbol'}} </div>
</div>
