<div class="container-fluid mt-4" *ngIf="productsToRender.length > 0">
    <p class="px-2 m-0"><small>{{products.length}} productos en la lista de deseos</small></p>
    <div class="product-list">
      <app-product-card-fav *ngFor="let product of productsToRender" [product]="product"></app-product-card-fav>
    </div>
    <div class="pb-pagination mt-3">
      <button (click)="previousPage()" [disabled]="currentPage <= 1" class="btn btn-primary mx-2">Anterior</button>
      <p>Pagina {{currentPage}} de {{numberOfPages}}</p>
      <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages"
        class="btn btn-primary mx-2">Siguiente</button>
    </div>
  </div>
  