.separator {
  padding-top: 5.5rem;
}

.container {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

app-body {
  height: 100%;
}

app-footer {
  margin-top: auto;
}
