.separator {
  padding-top: 6rem;
}

.container {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
}

app-body {
  padding-bottom: 16px;
  margin-top: auto;
}

app-footer {
  margin-top: auto;
}
