.button {
  color: black;
  background-color: white;
  border: 2px solid;
  border-color: orangered;
  margin: 10px;
  border-radius: 100px;
}

.header-user {
  background: url("/assets/banner-superior.png");
  background-size: cover;
}

.image {
  border: 5px solid;
  color: #EA5B0C;
  border-radius: 100px;
  background: white;
}
