.container-fluid {
  height: 100%;
}
.login-inputs {
  position: relative;
  height: 50px;
}
mat-icon {
  position: absolute;
  bottom: 30px;
  right: 26px;
}

input + span {
  position: absolute;
  top: 0px;
  transition: all 0.5s ease;
  z-index: 1;
}

.login-inputs span.active {
  top: -20px;
}

input:hover + span,
input:focus + span {
  color: #2078f9;
  top: -20px;
}

.submit,
[for="image"] {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 12px;
}

.submit:hover,
[for="image"]:hover {
  transform: scale(0.97);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

p small {
  font-size: 16px;
}

.user-image {
  padding: 3px 12px;
}

.user-image-content {
  border-bottom: 1px solid #808080;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}

[type="file"] {
  display: none;
}

[type="submit"] {
  font-weight: bold;
}

[for="image"] {
  padding: 6px;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 16px;
}

[for="image"] {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[for="image"]:hover {
  transform: scale(0.97);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.input-error {
  border-bottom: 2px solid #c02e2e;
}

input {
  z-index: 1000;
}
