<div class="container pb-3">
  <div class="historial-container" *ngIf="!loading">

    <div class="container-fluid">
      <div class="col">

        <div class="product-list">
          <p class="titulo mt-3">Historial de Participaciones ( {{products.length}} ) </p>
          <p class="noCompras" *ngIf="products.length === 0">No has realizado ninguna compra todavia.</p>
          <app-product-list [showText]="false" [products]="productsToRender" [showCantidadesUp]="true"
            [cantidadesUp]="cantidades"></app-product-list>
        </div>



      </div>
    </div>
  </div>
</div>
