<div class="row justify-content-center">
  <h2>Reseñas</h2>
  <div class="col-12 text-center mb-5">
      <div class="card">
          <div class="col d-flex flex-column">
              <div class="rating-box">
                  <h1 class="pt-4">{{valoracionGlobal}}</h1>
                  <p class="">de 5</p>
              </div>
              <div> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> </div>
          </div>
          <div class="col" *ngIf="opiniones">
              <div class="rating-bar0 justify-content-center">
                  <table class="text-left mx-auto">
                      <tr>
                          <td class="rating-label">5</td>
                          <td class="rating-bar">
                              <div class="bar-container">
                                  <div class="bar-5" [style]="{'width': valoraciones[4] + '%'}"></div>
                              </div>
                          </td>
                          <td class="text-right">{{valoraciones[4]}}%</td>
                      </tr>
                      <tr>
                          <td class="rating-label">4</td>
                          <td class="rating-bar">
                              <div class="bar-container">
                                  <div class="bar-4" [style]="{'width': valoraciones[3] + '%'}"></div>
                              </div>
                          </td>
                          <td class="text-right">{{valoraciones[3]}}%</td>
                      </tr>
                      <tr>
                          <td class="rating-label">3</td>
                          <td class="rating-bar">
                              <div class="bar-container">
                                  <div class="bar-3" [style]="{'width': valoraciones[2] + '%'}"></div>
                              </div>
                          </td>
                          <td class="text-right">{{valoraciones[2]}}%</td>
                      </tr>
                      <tr>
                          <td class="rating-label">2</td>
                          <td class="rating-bar">
                              <div class="bar-container">
                                  <div class="bar-2" [style]="{'width': valoraciones[1] + '%'}"></div>
                              </div>
                          </td>
                          <td class="text-right">{{valoraciones[1]}}%</td>
                      </tr>
                      <tr>
                          <td class="rating-label">1</td>
                          <td class="rating-bar">
                              <div class="bar-container">
                                  <div class="bar-1" [style]="{'width': valoraciones[0] + '%'}"></div>
                              </div>
                          </td>
                          <td class="text-right">{{valoraciones[0]}}%</td>
                      </tr>
                  </table>
              </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-4">
            <p class="mb-0 mx-3">Queremos saber tu opinión</p>
            <button class="btn btn-primary" type="button" (click)="showForm = !showForm">
              Enviar opinión
            </button>
          </div>
          <div *ngIf="showForm" class="collapse d-flex flex-column w-100 justify-content-left align-items-center" id="collapseExample">
            <div class="card-body w-100">
              <div class="form-floating">
                <textarea class="form-control" placeholder="" id="floatingTextarea" name="floatingTextarea" style="height: 100px" [(ngModel)]="textRate"></textarea>
                <label for="floatingTextarea">Añadir una reseña escrita</label>
              </div>
            </div>
            <div class="d-flex justify-content-left align-items-center">Valoración global
              <ngb-rating [(rate)]="currentRate" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <button class="btn btn-primary" type="button" (click) = "submit()" [disabled] = "currentRate == 0">
              Guardar
            </button>
          </div>
        </div>
      <div class="card" *ngFor="let opinion of opiniones">
          <div class="row d-flex">
              <div class="d-flex flex-column">
                  <h4 class="mt-2 mb-0">{{opinion.Cliente.username}}</h4>
                  <div>
                      <p class="text-left"><span class="text-muted">{{opinion.valoracion}} / 5</span></p>
                      <img *ngFor="let dummy of ' '.repeat(opinion.valoracion).split(''), let x = index" src="https://i.imgur.com/Ttoac2H.png" alt="" width="20px">
                  </div>


        </div>
        <div class="ml-auto">
          <p class="text-muted pt-5 pt-sm-3">Publicado el {{opinion.updatedAt}}</p>
        </div>
      </div>
      <div class="row text-left">
        <p class="content">{{opinion.opinion}}</p>
      </div>
    </div>
  </div>
</div>
