.card {
  cursor: pointer;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  width: 100%;
}

.price-tag {
  align-self: flex-end;
  padding: 0.5em;
  margin: 0;
  background-color: #2078F9;
  color: white;
  border-radius: 5px;
}
