.card {
  cursor: pointer;
  /* box-shadow: 3px 3px 10px rgba(0 0 0 / 0.2),
    inset 0px 0px 5px rgba(0 0 0 / 0.1); */
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 20px;
  background-color: #ffffff;
}

.card:hover {
  /* box-shadow: 3px 3px 5px rgba(0 0 0 / 0.5),
    inset 0px 0px 2.5px rgba(0 0 0 / 0.5); */
  transform: scale(0.98);
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-content {
  height: 100%;
  width: 100%;
}

.img-container {
  height: 250px;
}

img {
  max-height: 100%;
  max-width: max-content;
}

.price-tag {
  align-self: flex-end;
  margin: 0;
  background-color: #000000;
  color: white;
  width: fit-content;
}

/* @media (max-width: 1500px) {
  .card-title {
    font-size: 0.95em;
  }
}

@media (max-width: 1000px) {
  .card-title {
    font-size: 0.8em;
  }
} */

.product {
  position: relative;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

app-favorite-toggle {
  z-index: 999999;
}

.lote-msg {
  font-size: 1rem;
  font-weight: 600;
}

.favorite {
  z-index: 999999;
}
